name: Code Coverage

on:
  push:
  pull_request:

jobs:
  test:
    name: Test and Coverage
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up PHP
      uses: actions/setup-php@v2  # Usando v2

    - name: Install dependencies
      run: |
        composer install

    - name: Run PHPUnit tests
      run: vendor/bin/phpunit --coverage-clover=coverage.xml

    - name: Upload Code Coverage
      uses: codecov/codecov-action@v2
      with:
        file: coverage.xml

