name: Run Tests and Upload Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: mbstring, xml, bcmath, curl, zip

    - name: Install dependencies
      run: |
        composer install --no-interaction
        
    - name: Run PHPUnit tests with coverage
      run: |
        vendor/bin/phpunit --coverage-text --coverage-clover=coverage.xml
        
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Ensure coverage is above 60%
      run: |
        # Espera-se que o valor de coverage seja uma string, então removemos espaços extras e verificamos.
        coverage=$(curl -s https://codecov.io/api/gh/${{ github.repository }}/reports/coverage | jq -r '.total.coverage' | tr -d '\n' | tr -d '[:space:]')

        # Agora comparando o valor da cobertura com 60
        if [ $(echo "$coverage < 60" | bc) -eq 1 ]; then
          echo "Coverage is below 60%, failing the workflow."
          exit 1
        fi
        echo "Coverage is above 60%, proceeding."
